        body {
            background-image: url("imgs/elk-silhouette-9331519.webp");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            font-size: 20px;
            font-family: Arial, sans-serif;
            color: #333;
        }
        table {
            width: 85%;
            margin: auto;
            border-collapse: collapse;
        }
        th, td {
            border: 2px solid rgb(18, 21, 10);
            padding: 6px;
            text-align: center;
        }
        .name_align {
            text-align: left;
        }
        th {
            background-color:#4682b2;
            color: white;
        }
        caption {
            font-size: 1.5em;
            margin-bottom: 10px;
        }
        tfoot {
            color: gray;
            font-weight: bold;
            background-color: #f9f9f9;
        }
        tr:nth-child(even) {
                      background-color: #d1e7f0;
        }
        tr:hover {
            background-color: #add8e6;
        }
        .high-priority {
            background-color: #ff0000;
            color: white;
        }
        .medium-priority {
            background-color: #ffa500;
            color: white;
        }