body {
    background-color: #F8F8FF;
}

ul {
   background-color: #2F4F4F;
   overflow: hidden;
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
   display: flex;
   flex-direction: row;
}
li a {
    display: block;
    color: #f2f2f2;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}
li a:hover {
    background-color: #808080;
    color: #FFFFFF;
}
.active-link {
    background-color: #008080;
    color: #FFFF;
}
.link {
    text-decoration: none;
    color: #000;
}
.link2 {
    font: normal bold 20px verdana sans_serif;
    text-align: center;
    margin-top: 30px;
}
.link:visited {
    color: green;
}
.link:hover {
    color:hotpink;
}
.link:active {
    color: blue;
}